/* CSS DOCUMENT*/

<style > body {
    background-color: ghostwhite;
    margin: auto;
}

h1 {
    color: darkblue;
    font-size: 5em;
    font-family: monospace;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.9em;
}

h2 {
    color: darkred;
    font-size: 1.5em;
    font-family: sans-serif;
    text-transform: lowercase;
    text-align: center;
}

h3 {
    color: dimgrey;
    font-size: 1.3em;
    font-family: monospace;
    line-height: 3em;
    text-transform: lowercase;
    text-align: center;
}

h4 {
    color: dimgrey;
    font-size: 1em;
    font-family: sans-serif;
    line-height: 0.5em;
}

p {
    color: darkgray;
    font-size: 1em;
    font-family: sans-serif;
    line-height: 1em;
}

ul {
    list-style: none;
    padding: 0;
}
