/*CSS DOCUMENT*/

@import url("https://use.typekit.net/vpc6jnr.css");
 div.container {
	display: grid;
	max-width: 60em;
	margin: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
}
header {
	grid-column: 1/4;
}
img {
	width: 100%;
	/*Please leave this line.*/
	grid-column: 1/3;
}
figure {
	grid-column: 1/4;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-gap: 1em;
}
main {
	grid-column: 1/4;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr));
}
<style> body {
	background-color: #f0efe0;
}
h1 {
	color: #793216;
	font-size: 3em;
	font-family: caecilia-sans-head, sans-serif;
	font-weight: 900;
}
h2 {
	color: #3f3d34;
	font-size: 1.3em;
	font-family: Perpetua;
	text-align: left;
}
h3 {
	color: #4c944c;
	font-size: 1.3em;
	font-family: caecilia-sans-head, sans-serif;
	font-weight: 700;
	font-style: normal;
	line-height: 1em;
}
p {
	color: #2d201b;
	font-size: 1em;
	line-height: 1em;
	font-family: tondo, sans-serif;
	font-weight: 300;
}
h6 {
	color: #2d201b;
	font-size: .8em;
	font-family: tondo, sans-serif;
	font-weight: 300;
	text-align: left;
}
ul {
	font-family: tondo, sans-serif;
	font-weight: 300;
	color: #3f3d34;
	line-height: 1.5em;
	list-style: circle;
	padding-left: 2em;
}
figcaption {
	color: #3f3d34;
	padding-left: 1.5em;
	font-family: tondo, sans-serif;
	font-weight: 300;
}
ol {
	padding-left: 2em;
	font-family: tondo, sans-serif;
	font-weight: 300;
	color: #3f3d34;
	line-height: 1.5em;
}
/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */